streamlit>=1.50
pandas>=2.0
numpy>=1.25
scipy>=1.10
requests>=2.31
plotly>=6.3
statsmodels==0.14.5
pmdarima==2.0.4
scikit-learn>=1.1
joblib>=1.2
folium>=0.14
streamlit-folium>=0.10
rich>=14.2
